{% macro banner(image, type = 'skyscraper') %}
    <div class='{{ type }}'>
        <img src='{{ image }}' />
    </div>
{% endmacro %}

{% macro address(address) %}
    {{ address.street }}
    {{ address.street2 }}
    {{ address.zipcode }}
    {{ address.city }}
{% endmacro %}

{% macro addressImage(address, width, height, zoom = 18, maptype = 'satellite') %}
    {% import _self as macros %}

    {% set key = 'AIzaSyBIAITNgsqU3NKTXKHWxtXrfAYUgHjmjcs' %}

    {% if address.lat is not empty and address.lng is not empty %}
        {% set center = address.lat ~ ',' ~ address.lng %}
    {% else %}
        {% set center = macros.address(address) %}
    {% endif %}
    <img
        src='https://maps.googleapis.com/maps/api/staticmap?markers=|{{ center }}&zoom={{ zoom }}&size={{ width }}x{{ height }}&maptype={{ maptype }}&key={{ key }}'
        class='img-responsive'
    />
{% endmacro %}

{% macro dataRow(value, title, type = 'text', rowClass = '', leftColClass = 'col-md-3', rightColClass = 'col-md-9', icon = '') %}
    {% if value is not empty %}
        <div class="row data-row {{ rowClass }}">
            <div class="title-col {{ leftColClass }}">
                {% if title is not empty %}
                    {{ title|trans }}:
                {% elseif icon is not empty %}
                    <i class="{{ icon }}"></i>
                {% endif %}
            </div>
            <div class="content-col {{ rightColClass }}">
                {% if type == 'link' %}
                    <a href = '{{ value }}' target='_blank'>{{ value }}</a>
                {% elseif type == 'mail' %}
                    <a href = 'mailto:{{ value }}'>{{ value }}</a>
                {% elseif type == 'phone' %}
                    <a href = '{{ phone_number_format(value, 'RFC3966') }}'>{{ phone_number_format(value, 'NATIONAL') }}</a>
                {% else %}
                    {{  value }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro image(media, width = '', height = '') %}
    {% if media is not null %}
        <img src='{{ media|cwdImage.cropResize(width, height) }}' class='img-responsive' />
    {% endif %}
{% endmacro %}

{% macro name(object) %}
    {% spaceless %}
        {{ object.firstname|raw }}
        {{ object.lastname|raw }}
    {% endspaceless %}
{% endmacro %}

{% macro date(date) %}
    {{ date|date('d.m.Y') }}
{% endmacro %}

{% macro dateAndTime(datetime) %}
    {{ 'on'|trans }} <strong>{{ datetime|date('d.m.Y') }}</strong> {{ 'at'|trans }} <strong>{{ datetime|date('H:i') }}</strong>
{% endmacro %}

{% macro obituaryImage(obituary, width = '', height = '') %}
    {% import _self as macros %}

    {% if obituary.medias|first %}
        {% set obituaryMedia = obituary.medias|first %}
        {{ macros.image(obituaryMedia.media, width, height) }}
    {% else %}
        fallback image
    {% endif %}
{% endmacro %}

{% macro districtFilter(districts, selectedDistricts = null) %}
    <div class='col-md-6'>
        <label for='districtFilter'>{{ 'Districts'|trans }}: </label>
        <select multiple='multiple' id='districtFilter' name='districts[]'>
            {% set currentRegionId = 0 %}
            {% for district in districts %}
                {% if district.region.id != currentRegionId %}
                    {% if currentRegionId != 0 %}
                        </optgroup>
                    {% endif %}
                    <optgroup label='{{ district.region.name }}'>
                    {% set currentRegionId = district.region.id %}
                {% endif %}
                {% set selected = '' %}
                {% if district.id in selectedDistricts %}
                    {% set selected = 'selected="selected"' %}
                {% endif %}
                <option value='{{ district.id }}' {{ selected|raw }}>{{ district.name }}</option>
            {% endfor %}
            </optgroup>
        </select>
    </div>
{% endmacro %}

{% macro morticianImage(mortician, width = 253, height = 110) %}
    {% import _self as macros %}

    {% if mortician.logo is not null %}
        {{ macros.image(mortician.logo, width, height) }}
    {% elseif mortician.avatar is not null %}
        {{ macros.image(mortician.avatar, width, height) }}
    {% else %}
        {{ macros.addressImage(mortician.address, width, height) }}
    {% endif %}
{% endmacro %}