{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block content %}
    <div id="filters" class="button-group">
        <select multiple>
            {% set currentRegionId = 0 %}
            {% for district in districts %}
                {% if district.region.id != currentRegionId %}
                    {% if currentRegionId != 0 %}
                        </optgroup>
                    {% endif %}
                    <optgroup label="{{ district.region.name }}">
                    {% set currentRegionId = district.region.id %}
                {% endif %}
                <option value=".district-{{ district.id }}">{{ district.name }}</option>
            {% endfor %}
            </optgroup>
        </select>
    </div>
    <div class="isotope-list cemetery-list">
        {% for cemetery in cemeteries %}
            <div class="col-md-4 col-sm-6 product-item-wrapper col-xs-12 district-{{ cemetery.address.district.id|default('0') }}" data-district="{{ cemetery.address.district.id|default('0') }}">
                <div class="product-item cemetery-item">
                    <div class="address-image">
                        {{ macros.addressImage(cemetery.address, '400x180') }}
                    </div>
                    <h3>{{ cemetery.name }}</h3>
                    <div class="row">
                        <div class="col-md-3">Adresse:</div>
                        <div class="col-md-9">{{  macros.address(cemetery.address) }}</div>
                    </div>
                    {% if cemetery.administration.webpage is not empty %}
                        <div class="row address-row">
                            <div class="col-md-3">Website:</div>
                            <div class="col-md-9">{{  cemetery.administration.webpage }}</div>
                        </div>
                    {% endif %}
                    {% if cemetery.administration.phone is not empty %}
                        <div class="row">
                            <div class="col-md-3">Telefon:</div>
                            <div class="col-md-9">{{ phone_number_format(cemetery.administration.phone, 'NATIONAL') }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascriptDocReady %}
    {{ parent() }}

    <script>
        $(function(){
            $('#filters select').multiselect({
                enableClickableOptGroups:   true,
                enableFiltering:            true,
                maxHeight:                  400,
                buttonWidth:                350,
                includeSelectAllOption:     true,
                onChange: function(option, checked) {
                    var selectedOptions = $('#filters select').val();
                    var selectOptionClasses = selectedOptions.join(',');

                    if(selectOptionClasses == '') {
                        selectOptionClasses = '*';
                    }

                    $container.isotope({ filter: selectOptionClasses });
                }
            });

            $('.isotope-list .product-item-wrapper').matchHeight();

            var $container = $('.isotope-list').isotope({
                itemSelector: '.cemetery-item-wrapper',
                layoutMode: 'fitRows'
            });
        });
    </script>
{% endblock %}

{% block sidebarWrapper %}
{% endblock %}

{% block contentWrapperClass %}
col-md-12
{% endblock %}