{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block content %}
    <div id="filters" class="button-group">
        <select multiple>
            {% set currentRegionId = 0 %}
            {% for district in districts %}
                {% if district.region.id != currentRegionId %}
                    {% if currentRegionId != 0 %}
                        </optgroup>
                    {% endif %}
                    <optgroup label="{{ district.region.name }}">
                    {% set currentRegionId = district.region.id %}
                {% endif %}
                <option value="{{ district.id }}">{{ district.name }}</option>
            {% endfor %}
            </optgroup>
        </select>
    </div>

    {% include 'AspetosFrontendBundle:Catalog:cemeteriesFilter.html.twig' %}

{% endblock %}

{% block javascriptDocReady %}
    {{ parent() }}

    <script>
        var ias;
        var $filter;
        var $container;

        $(function(){
            ias = jQuery.ias({
                container:  '.isotope-list',
                item:       '.product-item-wrapper',
                pagination: '#pagination',
                next:       '.next'
            });

            $('.isotope-list .product-item-wrapper').matchHeight();

            $container = $('.isotope-list').isotope({
                itemSelector: '.product-item-wrapper',
                layoutMode: 'fitRows'
            });

            $filter = $('#filters select');
            $filter.multiselect({
                enableClickableOptGroups:   true,
                enableFiltering:            true,
                maxHeight:                  400,
                buttonWidth:                350,
                includeSelectAllOption:     true,
                onChange:                   filterChange
            });


            ias.extension(new IASSpinnerExtension({
                src:    '{{ asset('bundles/cwdadminmetronic/assets/global/img/loading-spinner-default.gif') }}', // optionally
                html:   '<div class="col-md-12 text-center ias-spinner"><div class=""><img src="{src}"/></div></div>'
            }));

           /* ias.extension(new IASNoneLeftExtension({
                text: '{{ 'You reached the end.'|trans }}', // optionally
                html:   '<div class="col-md-12 text-center ias-none-left">{text}</div>'
            }));*/

            ias.on('load', function(event) {
                $spinner = $('.ias-spinner');
                $lastItem = $container.find('.product-item-wrapper:last');
                $spinner.css('top', $lastItem.position().top + $lastItem.outerHeight());

                var districts = $filter.val();
                if(districts == null) {
                    districts = '';
                } else {
                    districts = districts.join(',');
                }

                var ids = $container.find('.product-item-wrapper').map(function() {
                    return $(this).data('id');
                }).get();

                event.url += '?districts=' + districts + '&ids=' + ids.join(',');
            });

            ias.on('render', function(items) {
                 $('.ias-spinner').remove();
                $container.isotope('insert', items, true);
                ias.fire('rendered', items); //fire rendered event manually, because pagination is handled in rendered event

                return false; //prevent default rendering
            });
/*
            ias.on('ready', function(event) {
                ias.on('noneLeft', function(event) {
                    $noneLeft = $('.ias-none-left');
                    $lastItem = $container.find('.product-item-wrapper:last');
                    $noneLeft.css('top', $lastItem.position().top + $lastItem.outerHeight());
                });
            });
            */
        });

        function filterChange(option, checked) {
            var selectedOptions = $filter.val();
            var selectOptionClasses = '*';
            if(selectedOptions != null) {
                selectOptionClasses = '.district-' + selectedOptions.join(', .district-');
            }

            $container.isotope({ filter: selectOptionClasses });
            window.setTimeout('jQuery.ias().reinitialize()', 500);

        }
    </script>
{% endblock %}

{% block sidebarWrapper %}
{% endblock %}

{% block contentWrapperClass %}
col-md-12
{% endblock %}