{% import "AspetosFrontendBundle:Layout:macros.html.twig" as macros %}

{% for mortician in items %}
    <div
        data-id="{{ mortician.id }}"
        class="col-md-4 col-sm-6 product-item-wrapper col-xs-12 districts-{{ mortician.address.district.id|default('0') }}"
        data-district="{{ mortician.address.district.id|default('0') }}"
    >
        <div class="product-item mortician-item">
            <div class="image">
                <span class="helper"></span>
                {{ morticianImage(mortician) }}
            </div>
            <h3>{{ mortician.name }}</h3>
            {{ macros.dataRow(macros.address(mortician.address), 'Address') }}
            {{ macros.dataRow(mortician.webpage, 'Website', 'link') }}
            {{ macros.dataRow(mortician.email, 'E-Mail', 'mail') }}
            {{ macros.dataRow(mortician.phone, 'Phone', 'phone') }}
        </div>
    </div>
{% endfor %}
