{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h1>{{ macros.name(obituary) }} † {{ macros.date(obituary.dayOfDeath) }}</h1>
            {% if obituary.age is not empty %}
                <span>{{ obituary.age }} {{ 'years'|trans }},</span>
            {% endif %}
            <span>{{ '	last resting-place'|trans }}: {{ obituary.cemetery.name|default(obituary.legacyCemetery) }}</span>
        </div>

        <div class="col-md-8 text-right">
            <ul role="tablist" class="nav nav-pills navbar-right tablist">
                <li class="active" role="presentation">
                    <a data-toggle="tab" role="tab" aria-controls="parte" href="#parte" class="btn btn-default">
                        <i class="fa fa-bookmark"></i> {{ 'Obituary'|trans }}
                    </a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" role="tab" aria-controls="candle" href="#candle" class="btn btn-default">
                        <i class="fa fa-fire"></i> {{ 'Candles'|trans }}
                        <span style="background-color:lightgrey" class="badge">{{ obituary|countCandles('active') }}</span>
                    </a>
                </li>
                {% if obituary.allowCondolence %}
                    <li role="presentation">
                        <a data-toggle="tab" role="tab" aria-controls="condolence" href="#condolence" class="btn btn-default">
                            <i class="fa fa-book"></i> {{ 'Condolences'|trans }}
                            <span style="background-color:lightgrey" class="badge">{{ obituary.condolences|length }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div style="margin-top:15px" class="row">
        <div class="col-md-8 col-sm-8">
            <div style="margin-top:0; padding-top:0" class="tab-content">
                <div id="parte" class="tab-pane active" role="tabpanel">
                    {{ macros.obituaryImage(obituary, 525) }}

                    <div class="padding-top-30">
                        <h2>{{ 'Express your sympathy and send a bouquet to the grave.'|trans }}</h2>
                        <div class="owl-carousel owl-carousel2 owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 1052px; left: 0px; display: block;">
                                    <div class="owl-item active" style="width: 263px;">
                                        <div>
                                            <div class="product-item">
                                                <div class="pi-img-wrapper">
                                                    <img alt="Lorem Ipsum" class="img-responsive" src="{{ asset('bundles/aspetosfrontend/demo/blumen_a.jpg') }}">
                                                    <div>
                                                        <a class="btn btn-default fancybox-button" href="{{ asset('bundles/aspetosfrontend/demo/blumen_a.jpg') }}">Zoom</a>
                                                        <a class="btn btn-default fancybox-fast-view" href="_detail.php">Zeigen</a>
                                                    </div>
                                                </div>
                                                <h3><a href="_detail.php">Blumenstrauss A</a></h3>
                                                <div class="pi-price">€ 29.00</div>
                                                <a class="btn btn-default add2cart" href="javascript:;">In den Warenkorb</a>
                                                <div class="sticker sticker-new"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 263px;">
                                        <div>
                                            <div class="product-item">
                                                <div class="pi-img-wrapper">
                                                    <img alt="Lorem Ipsum" class="img-responsive" src="{{ asset('bundles/aspetosfrontend/demo/blumen_b.jpg') }}">
                                                    <div>
                                                        <a class="btn btn-default fancybox-button" href="{{ asset('bundles/aspetosfrontend/demo/blumen_b.jpg') }}">Zoom</a>
                                                        <a class="btn btn-default fancybox-fast-view" href="_detail2.php">Zeigen</a>
                                                    </div>
                                                </div>
                                                <h3><a href="_detail2.php">Blumenstrauss B</a></h3>
                                                <div class="pi-price">€ 29.00</div>
                                                <a class="btn btn-default add2cart" href="javascript:;">In den Warenkorb</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="candle" class="tab-pane" role="tabpanel">
                    <div style="" class="row candles">
                        {% for candle in candles %}
                            <div class="col-md-3 col-sm-4 col-xs-6 text-center padding-top-10 margin-bottom-10 candle-wrapper">
                                <div data-state="{{ candle.animationState }}" class="candle"></div>
                                <h3 style="text-transform:none; font-size:10px; font-family:'Open Sans'" class="text-center margin-bottom-0 margin-top-10">{{ candle.content }}</h3>
                                <p style="font-size:10px; font-weight:300">{{ macros.date(candle.createdAt) }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="padding-top-30">
                        <h2>{{ 'Express your sympathy and send a bouquet to the grave.'|trans }}</h2>
                        <div class="owl-carousel owl-carousel2 owl-theme" style="opacity: 0; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 200px; left: 0px; display: block;">
                                    <div class="owl-item active" style="width: 50px;">
                                        <div>
                                            <div class="product-item">
                                                <div class="pi-img-wrapper">
                                                    <img alt="Lorem Ipsum" class="img-responsive" src="{{ asset('bundles/aspetosfrontend/demo/blumen_a.jpg') }}">
                                                    <div>
                                                        <a class="btn btn-default fancybox-button" href="{{ asset('bundles/aspetosfrontend/demo/blumen_a.jpg') }}">Zoom</a>
                                                        <a class="btn btn-default fancybox-fast-view" href="_detail.php">Zeigen</a>
                                                    </div>
                                                </div>
                                                <h3><a href="_detail.php">Blumenstrauss A</a></h3>
                                                <div class="pi-price">€ 29.00</div>
                                                <a class="btn btn-default add2cart" href="javascript:;">In den Warenkorb</a>
                                                <div class="sticker sticker-new"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item active" style="width: 50px;">
                                        <div>
                                            <div class="product-item">
                                                <div class="pi-img-wrapper">
                                                    <img alt="Lorem Ipsum" class="img-responsive" src="{{ asset('bundles/aspetosfrontend/demo/blumen_b.jpg') }}">
                                                    <div>
                                                        <a class="btn btn-default fancybox-button" href="{{ asset('bundles/aspetosfrontend/demo/blumen_b.jpg') }}">Zoom</a>
                                                        <a class="btn btn-default fancybox-fast-view" href="_detail2.php">Zeigen</a>
                                                    </div>
                                                </div>
                                                <h3><a href="_detail2.php">Blumenstrauss B</a></h3>
                                                <div class="pi-price">€ 29.00</div>
                                                <a class="btn btn-default add2cart" href="javascript:;">In den Warenkorb</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if obituary.allowCondolence %}
                    <div id="condolence" class="tab-pane" role="tabpanel">
                    <div style="background-color:white" class="row padding-top-10">
                        <div class="col-xs-12">
                            {% for condolence in obituary.condolences %}
                                <div class="condolence">
                                    <div style="font-family:'PT Sans Narrow'; font-size:20px" class="condolence-text">
                                        {{ condolence.content }}
                                    </div>
                                    <div class="text-right">
                                        {{ condolence.fromNAme }}, {{ macros.date(condolence.createdAt) }}
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div style="text-transform:none" class="sidebar col-md-4 col-sm-4">
            {% for event in events %}
                <div style="margin-top:0" class="bs-callout bs-callout-info">
                    <h4>{{ event.obituaryEventType.name }}</h4>
                    <p>
                        {{ macros.dateAndTime(event.dateStart) }}
                        {% if event.description is not empty %}
                            - {{ event.description }}
                        {% endif %}
                    </p>
                </div>
            {% endfor %}

            {% if obituary.mortician is not empty %}
                <div class="sidebar-filter margin-bottom-20">
                    <h2>{{ 'Mortician'|trans }}</h2>
                    <hr class="margin-top-0">
                    <a href="_bestatter.php">
                        {{ macros.morticianImage(obituary.mortician) }}
                    </a>
                    <h3><a href="_bestatter.php">{{ obituary.mortician.name }}</a></h3>
                    {{ macros.dataRow(macros.address(obituary.mortician.address), '', 'text', '', 'col-md-1', 'col-md-10', 'fa fa-home') }}
                    {{ macros.dataRow(obituary.mortician.phone, '', 'phone', '', 'col-md-1', 'col-md-10', 'fa fa-phone') }}
                    {{ macros.dataRow(obituary.mortician.email, '', 'mail', '', 'col-md-1', 'col-md-10', 'fa fa-envelope') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascriptDocReady %}
    $('.candles .candle-wrapper').matchHeight();
{% endblock %}