{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block content %}
    <form id='filterForm'>
        <div id='filters' class='row'>
            {{ macros.districtFilter(districts, selectedDistricts) }}

            <div class="pull-right col-md-4">
                <label class="control-label">{{ 'Order by'|trans }}:</label>
                <select class="form-control input-sm grid-v1-SortSelect sort" name="sort">
                    <option data-isotope-selector="[data-createdAt]" data-isotope-sort-ascending="false" value="obituary.createdAt:DESC">{{ 'added'|trans }}</option>
                    <option data-isotope-selector="[data-dayOfDeath]" data-isotope-sort-ascending="false" value="obituary.dayOfDeath:DESC" selected="selected">{{ 'dayOfDeath'|trans }}</option>
                    <option data-isotope-selector="[data-dayOfDeath]" data-isotope-sort-ascending="true" value="obituary.dayOfDeath:ASC">{{ 'dayOfDeath oldest first'|trans }}</option>
                </select>
            </div>
        </div>
    </form>

    <div class="isotope-list obituary-list">
        {% include 'AspetosFrontendBundle:Obituary:items.html.twig' %}
    </div>
    <div class='scroll-visibility-helper'></div>
{% endblock %}

{% block javascriptDocReady %}
    Aspetos.initListFilterAndAjaxLoading(
        '.isotope-list',
        '.product-item-wrapper',
        '#filterForm',
        '{{ path('aspetos_frontend_obituary_list') }}'
    );
{% endblock %}
