{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}
{% form_theme form 'AspetosShopBundle:Shop/Form:customer_order_form_theme.html.twig' %}

{% block sidebar %}
    {{ knp_menu_render('shop_category_sidebar') }}
{% endblock %}

{% block content %}
    <h1>Shopping Cart</h1>

    {% set order = form.vars.data %}
    {{ form_start(form) }}
        <div class="goods-page">
            <div class="goods-data clearfix">
                {{ form_row(form.orderItems) }}

                {% if order.orderItems|length %}
                    {% include 'AspetosShopBundle:Shop:_pricingSummary.html.twig' with { 'order': order } %}
                {% endif %}
            </div>
            {{ form_widget(form.continue) }}
            {{ form_widget(form.checkout) }}
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('form[name="aspetos_shop_customer_order"] .del-goods').on('click', function() {
                var tr = $(this).parents('tr');
                tr.find('.product-quantity input').val(0);
                tr.hide(0);
            });
        });
    </script>
{% endblock javascript %}
