<div class="top-cart-block">
    <div class="top-cart-info">
        <a href="javascript:void(0);" class="top-cart-info-count">{{ order.numberOfItems }} items</a>
        <a href="javascript:void(0);" class="top-cart-info-value">€{{ order.totalAmount|number_format(2, ',', '.') }}</a>
    </div>
    <i class="fa fa-shopping-cart"></i>

    <div class="top-cart-content-wrapper">
        <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
                {% for orderItem in order.orderItems %}
                    {% set productUrl = path('aspetos_shop_product', { 'slug': orderItem.product.slug }) %}
                    <li>
                        <a href="{{ productUrl }}"><img src="{{ orderItem.product.mainImage|cwdImage }}" width="37" height="34"></a>
                        <span class="cart-content-count">x {{ orderItem.amount }}</span>
                        <strong><a href="{{ productUrl }}">{{ orderItem.product.name }}</a></strong>
                        <em>€{{ orderItem.price }}</em>
                        <a href="javascript:void(0);" class="del-goods">&nbsp;</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="text-right">
                <a href="{{ path('aspetos_shop_cart') }}" class="btn btn-default">View Cart</a>
                <a href="{{ path('aspetos_shop_checkout') }}" class="btn btn-primary">Checkout</a>
            </div>
        </div>
    </div>
</div>
