{% extends 'AspetosFrontendBundle:Layout:master.html.twig' %}

{% block content %}
    <div class="row list-view-sorting clearfix">
        <div class="col-md-2 col-sm-2 list-view">
            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="pull-right">
                <label class="control-label">Zeige:</label>
                <select class="form-control input-sm">
                    <option selected="selected" value="#?limit=24">24</option>
                    <option value="#?limit=25">25</option>
                    <option value="#?limit=50">50</option>
                    <option value="#?limit=75">75</option>
                    <option value="#?limit=100">100</option>
                </select>
            </div>
            <div class="pull-right">
                <label class="control-label">Sortierung:</label>
                <select class="form-control input-sm grid-v1-SortSelect">
                    <option selected="selected" value="default">Hinzugefügt</option>
                    <option value="myorder:desc">Sterbetag</option>
                    <option value="myorder:asc">Sterbetag (Ältere zuerst)</option>
                </select>
            </div>
            <div class="pull-right">
                <label class="control-label">Filter:</label>
                <select class="form-control input-sm grid-v1-FilterSelect">
                    <option value="all">Österreich</option>
                    <option value=".burgenland">Burgenland</option>
                    <option value=".kärnten">Kärnten</option>
                    <option disabled="" value=".niederoesterreich">Niederösterreich</option>
                    <option disabled="" value=".oberoesterreich">Oberösterreich</option>
                    <option disabled="" value=".salzburg">Salzburg</option>
                    <option disabled="" value=".steiermark">Steiermark</option>
                    <option disabled="" value=".tirol">Tirol</option>
                    <option disabled="" value=".vorarlberg">Vorarlberg</option>
                    <option disabled="" value=".wien">Wien</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row product-list">
        {% for data in obituaries %}
            {% set obituary = data.obituary_item %}
            <div class="col-xs-6 col-lg-3 col-md-4">
                <div class="product-item">
                    <div style="min-height:250px" class="pi-img-wrapper">
                        <a href="{{ path('aspetos_frontend_obituary_detail', {id: obituary.id}) }}">
                            {% if obituary.obituary is not null %}
                                {{ macros.image(obituary.obituary) }}
                            {% elseif obituary.portrait is not null %}
                                {{ macros.image(obituary.portrait) }}
                            {% else %}
                                no image
                            {% endif %}
                        </a>
                        <div style="font-size:10px">
                            <a class="btn btn-default" href="{{ path('aspetos_frontend_obituary_detail', {id: obituary.id}) }}#candle">
                                {{ data.candle_count }} <i class="fa fa-fire"></i>
                            </a>
                            <a class="btn btn-default" href="{{ path('aspetos_frontend_obituary_detail', {id: obituary.id}) }}#condolence">
                                {{ data.condolence_count }} <i class="fa fa-book"></i>
                            </a>
                        </div>
                    </div>

                    <h3 style="text-transform: none; padding-bottom:0; padding-top:5px">
                        <a href="{{ path('aspetos_frontend_obituary_detail', {id: obituary.id}) }}">{{ macros.name(obituary) }}</a>
                    </h3>
                    <span>† {{ macros.date(obituary.dayOfDeath) }}</span><br>
                    <span>{{ obituary.cemetery.name|default(obituary.legacyCemetery) }}</span><br>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-top:0">Über Aspetos - das Trauer-Netzwerk</h1>
            <div class="content-page">
                <p>Soziale Netzwerke im Internet spielen heute eine immer größere Rolle. Sie dienen keineswegs als Ersatz für das reale Leben, aber sie bieten uns neue Möglichkeiten der Kommunikation. Während in anderen Bereichen diese neue Form der Gemeinschaft längst Einzug gehalten hat, wurde in den Bereichen der Bestattung und Trauer sowie der Trauerhilfe bisher keine professionelle Lösung angeboten. Aspetos schließt diese Lücke.</p>

                <h3>Wir sitzen alle im selben Boot! ­­-  Früher oder später trifft es uns alle.</h3>
                <p>Wenn ein Mensch stirbt, sind Angehörige und Freunde zunächst in einem psychischen Ausnahmezustand: Sie fühlen sich geschockt, betäubt und können den Tod des geliebten Menschen meist noch nicht begreifen. In diesem Ausnahmezustand sind aber eine Vielzahl von Dingen zu erledigen: Die Bestattung muss beauftragt werden, Dokumente müssen gefunden werden, Amtswege sind zu erledigen, die Verwandtschaft muss informiert werden und vieles mehr. Darüber hinaus, müssen Entscheidungen getroffen werden, über die man vorher oft gar nicht nachgedacht hat: „Soll es eine Erd- oder Feuerbestattung werden? Wie soll der Trauerdruck gestaltet werden? Wie gestalten wir die Trauerfeier, dass sie unseren Bedürfnissen entspricht und zum Leben des Verstorbenen passt?“  … Da bleibt wenig Zeit für einen selber und für das Zulassen von Trauergefühlen.</p>
                <p>Spürbare Trauer kommt meist erst nach der Beisetzung des Verstorbenen auf. Die Umwelt kehrt aber schnell wieder zur Tagesordnung zurück und dann bleiben Angehörige oft allein mit ihrer Trauer.  Spätestens nach Ablauf eines Jahres wird der gesellschaftliche Druck, mit dem Trauern doch endlich aufzuhören, sehr groß. Aber nach einem Jahr ist es meist noch lange nicht vorbei: Hinterbliebene reagieren auf den Druck und funktionieren nach außen wieder scheinbar normal, während sie im Stillen einsam weitertrauern.</p>

            </div>
        </div>
    </div>
{% endblock %}
