<div style="padding:15px">

    <form method="post" action="{{ path('aspetos_admin_mortician_supplier_add', { morticianId: mortician.id }) }}" role="form" class="ajaxModal">
        <div class="form-group">
            <label for="supplier">{{ "Search for supplier"|trans }}</label>
            <select id="supplierForm" name="suppliers[]" multiple class="form-control select2" style="width:100%">
                {% for group, suppliers in supplierGroups %}
                    <optgroup label="{{ group }}">
                        {% for supplier in suppliers %}
                            <option value="{{ supplier.id }}">{{ supplier.name }}, {{ supplier.country }} - {{ supplier.address.zipcode }} {{ supplier.address.city }}, {{ supplier.address.district.name }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        <div class="form-actions">
                <input type="submit" name="submit" value="{{ "Add"|trans }}" class="btn blue" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#supplierForm').select2({dropdownAutoWidth: 'true'});
</script>
