{% set themeColor = 'blue-steel' %}
{% set themeStyle = 'light' %}

{% embed "CwdAdminMetronicBundle:Helper:portlet.html.twig" with {title: 'Suppliers'|trans, icon: icon|default('fa-truck'), color: 'light'} %}
    {% block body %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>City</th>
                    {#
                    <th>Last login</th>
                    {% if is_granted('mortician.user.edit', crudObject) %}
                    {% endif %}
                    #}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for supplier in crudObject.suppliers %}
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{% if supplier.webpage is not empty %}
                            <a href="{{ supplier.webpage }}" target="_blank">{{ supplier.name }}</a>
                        {% else %}
                            {{ supplier.name }}
                        {% endif %}
                    </td>
                    <td>{% if supplier.email is not empty %}
                        <a href="mailto:{{ supplier.email }}">{{ supplier.contactName }}</a>
                        {% else %}
                        {{ supplier.contactName }}
                        {% endif %}
                    </td>
                    <td>{{ phone_number_format(supplier.phone, 'INTERNATIONAL') }}</td>
                    <td>{{ supplier.address.city }}</td>
                    {#
                    <td>
                        {% if supplier.lastLogin is not null %}
                            {{ supplier.lastLogin.format('d.m.Y H:i:s') }}
                        {% endif %}
                    </td>
                    #}
                    {% if is_granted('mortician.supplier.remove', crudObject) %}
                    <td class="text-right">
                        <div class="btn-group btn-group-solid">
                            <a href="{{ path('aspetos_admin_mortician_supplier_delete', { morticianId: crudObject.id, id: supplier.id}) }}" class="btn btn-danger btn-xs deleterow"> <i class="fa  fa-trash-o"></i> </a>
                        </div>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block actions %}
        {% if is_granted('mortician.supplier.propose', crudObject) %}
            <a href="{{ path('aspetos_admin_mortician_supplier_create', { morticianId: crudObject.id }) }}" class="btn btn-default btn-sm ajaxModal"><i class="fa fa-plus"></i> {{ "Propose"|trans }}</a>
        {% endif %}
        {% if is_granted('mortician.supplier.add', crudObject) %}
            <a href="{{ path('aspetos_admin_mortician_supplier_add', { morticianId: crudObject.id}) }}" class="btn btn-default btn-sm ajaxModal"><i class="fa fa-link"></i> {{ "Link"|trans }}</a>
        {% endif %}
    {% endblock %}
{% endembed %}
