{% set themeColor = 'blue-steel' %}
{% set themeStyle = 'light' %}

{% embed "CwdAdminMetronicBundle:Helper:portlet.html.twig" with {title: 'Profile'|trans, icon: icon|default('fa-ellipsis-v'), color: 'light'} %}
    {% block body %}

        <dl class="dl-horizontal profile">
            <dt>{{ "Name"|trans }}</dt>
            <dd>{{ crudObject.name }}</dd>

            <dt>{{ "Description"|trans }}</dt>
            <dd>{{ crudObject.description|raw }}</dd>

            <dt>{{ "Contactname"|trans }}</dt>
            <dd>{{ crudObject.contactname }}</dd>

            {% if crudObject.avatar is not empty %}
            <dt>{{ "Profilimage"|trans }}</dt>
            <dd><img src="{{ crudObject.avatar|cwdImage().cropResize(null, 150) }}" class="img-thumbnail"/></dd>
            {% endif %}

            <dt>{{ "Address"|trans }}</dt>
            <dd>

                {{ crudObject.address.street }}<br />
                {{ crudObject.address.zipcode }} {{ crudObject.address.city }}<br />
                {{ crudObject.address.country }} / {{ crudObject.address.district.region.name }} / {{ crudObject.address.district.name }}<br />


                {% if crudObject.address.lat is not null and crudObject.address.lng is not null %}
                    <a id="mortician-map-toggle" role="button" class="btn btn-xs btn-primary margin-bottom-5" href="#mortician-map" data-toggle="collapse" aria-expanded="false" aria-controls="mortician-map">{{ "Show map"|trans }}</a>
                    <div class="collapse" id="mortician-map">
                        <div id="gmap_marker" class="gmaps" style="height:250px"></div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('#mortician-map').on('shown.bs.collapse', function(e) {
                                $('#mortician-map-toggle').html("{{ "Hide map"|trans }}");
                                var map = new GMaps({
                                    div: '#gmap_marker',
                                    lat: {{ crudObject.address.lat }},
                                    lng: {{ crudObject.address.lng }},
                                });
                                map.addMarker({
                                    lat: {{ crudObject.address.lat }},
                                    lng: {{ crudObject.address.lng }}
                                });
                                map.setZoom(16);
                            });

                            $('#mortician-map').on('hidden.bs.collapse', function(){
                                $('#mortician-map-toggle').html("{{ "Show map"|trans }}");
                            });
                        })
                    </script>
                {% endif %}

            </dd>

            <dt>{{ "Phone"|trans }}</dt>
            <dd><i class="fa fa-phone"></i> {% if crudObject.phone is not empty %}{{ phone_number_format(crudObject.phone, 'INTERNATIONAL') }}{% endif %}</dd>

            <dt>{{ "Fax"|trans }}</dt>
            <dd><i class="fa fa-fax"></i> {% if crudObject.phone is not empty %}{{ phone_number_format(crudObject.fax, 'INTERNATIONAL') }}{% endif %}</dd>

            <dt>{{ "Webpage"|trans }}</dt>
            <dd><i class="fa fa-globe"></i> <a href="{{ crudObject.webpage }}" target="_blank">{{ crudObject.webpage }}</a></dd>

            <dt>{{ "Email"|trans }}</dt>
            <dd><i class="fa fa-envelope"></i> <a href="mailto:{{ crudObject.email }}">{{ crudObject.email }}</a></dd>

            <dt>{{ "Vat"|trans }}</dt>
            <dd>{{ crudObject.vat }}</dd>

            <dt>{{ "RegNumber"|trans }}</dt>
            <dd>{{ crudObject.commercialRegNumber }}</dd>

            {% if crudObject.getMedias()|length > 0 %}
            <dt>{{ "images"|trans }}</dt>
            <dd>
                <div class="row">
                {% for slide in crudObject.getMedias() %}

                    <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom-5">
                        <div class="thumbnail">
                            <a href="{{ slide.media|cwdImage.cropResize(1200) }}" data-title="{{ "Image"|trans }}" data-footer="{{ slide.description }}" data-toggle="lightbox"><img src="{{ slide.media|cwdImage.cropResize(200, 200) }}" alt="" class="img-responsive img-thumbnail"></a>
                            {% if is_granted('mortician.media', crudObject) %}
                            <div class="caption text-right">
                                <div class="btn-group btn-group-solid btn-group-justified">
                                <a href="{{ path('aspetos_admin_mortician_media_edit', {id: slide.id, morticianId: crudObject.id}) }}" class="btn btn-primary btn-sm ajaxModal"><i class="fa fa-edit"></i> {{ "Edit"|trans }}</a>
                                <a href="{{ path('aspetos_admin_mortician_media_delete', {id: slide.id, morticianId: crudObject.id}) }}" class="btn btn-danger btn-sm deleterow"><i class="fa fa-trash"></i> {{ "Delete"|trans }}</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% if is_granted('mortician.media', crudObject) %}
                    <a href="{{ path('aspetos_admin_mortician_media_create', {morticianId: crudObject.id}) }}" class="btn btn-primary ajaxModal"><i class="fa fa-plus"></i> {{ "Add new Image"|trans }}</a>
                {% endif %}
            </dd>
            {% endif %}
        </dl>

    {% endblock %}
    {% block actions %}
        {% if is_granted('mortician.edit', crudObject) %}
            <a href="{{ path('aspetos_admin_mortician_mortician_edit', { id: crudObject.id, target: 'self' }) }}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> {{ "Edit"|trans }}</a>
        {% endif %}
    {% endblock %}
{% endembed %}
