{% set themeColor = 'blue-steel' %}
{% set themeStyle = 'light' %}

{% embed "CwdAdminMetronicBundle:Helper:portlet.html.twig" with {title: 'Users'|trans, icon: icon|default('fa-users'), color: 'light'} %}
    {% block body %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Last login</th>
                    {% if is_granted('mortician.user.edit', crudObject) %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in crudObject.users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.enabled %}
                            <span class="label label-sm label-success"> {{ "enabled"|trans }} </span>
                        {% else %}
                            <span class="label label-sm label-danger"> {{ "disabled"|trans }} </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.lastLogin is not null %}
                            {{ user.lastLogin.format('d.m.Y H:i:s') }}
                        {% endif %}
                    </td>
                    {% if is_granted('mortician.user.edit', crudObject) %}
                    <td class="text-right">
                        <div class="btn-group btn-group-solid">
                            <a href="{{ path('aspetos_admin_mortician_user_edit', { morticianId: crudObject.id, id: user.id}) }}" class="btn btn-warning btn-xs tooltips ajaxModal" data-placement="top" data-container="body" data-original-title="{{ "Permissions"|trans }}"> <i class="fa fa-lock"></i> </a>
                            <a href="{{ path('aspetos_admin_mortician_user_edit', { morticianId: crudObject.id, id: user.id}) }}" class="btn btn-primary btn-xs tooltips ajaxModal" data-placement="top" data-container="body" data-original-title="{{ "Edit"|trans }}"> <i class="fa fa-edit"></i> </a>
                            <a href="{{ path('aspetos_admin_mortician_user_delete', { morticianId: crudObject.id, id: user.id}) }}" class="btn btn-danger btn-xs deleterow"> <i class="fa  fa-trash-o"></i> </a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

    {% block actions %}
        {% if is_granted('mortician.user.create', crudObject) %}
            <a href="{{ path('aspetos_admin_mortician_user_create', { morticianId: crudObject.id }) }}" class="btn btn-default btn-sm ajaxModal"><i class="fa fa-plus"></i> {{ "Create"|trans }}</a>
        {% endif %}
    {% endblock %}
{% endembed %}
