{% extends 'CwdAdminMetronicBundle:Menu:menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}

        {%- set subMenu = item.parent is null ? '' : 'sub-menu' %}
        <ul class="page-sidebar-menu neos {{ subMenu }}" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block dividerElement %}
    {% if item.level == 1 %}
        <li class="divider-vertical"><hr class="separator" /></li>
    {% else %}
        <li class="divider"><hr class="separator" /></li>
    {% endif %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
        {% if item.attribute('icon') is not empty %}
            <i class="{{ item.attribute('icon') }}"></i>
        {% endif %}
        <span class="title">{{ block('label') }}</span>
        {% if item.hasChildren %}
            {%- set openClass = '' %}
            {% if (matcher is defined and matcher.isAncestor(item, options.depth)) or (item.currentAncestor is defined and item.currentAncestor) %}
                {%- set openClass = 'open' %}
            {% endif %}
            <span class="arrow {{ openClass }}"></span>
        {% endif %}
    </a>
{% endblock %}

{% block item %}
    {% if (matcher is defined and matcher.isAncestor(item, options.depth)) or (item.currentAncestor is defined and item.currentAncestor) %}
        {%- set options = options|merge({ancestorClass: options.ancestorClass ~ ' open'}) %}
    {% endif %}
    {{  parent() }}
{% endblock %}
